* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  height: 100dvh;
  overflow: hidden;
}

body {
  min-height: 100dvh; /* 🔥 الحل */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial;
}

/* خلفية الجوال */
@media (max-width: 768px) {
  body {
    background-image: url("img/mobile-bg.png");
  }
}

/* خلفية اللابتوب */
@media (min-width: 769px) {
  body {
    background-image: url("img/desktop-bg.png");
  }
}

/* الكرت */
.card-box {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  color: white;
}

/* الشعارات */
.logos img {
  width: 100px;
  height: auto;
}

/* الخط */
.divider {
  width: 1px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* النص */
.main-text {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.4;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

/* input */
.input-custom {
  padding: 9px;

  text-align: center;
  direction: ltr;
  unicode-bidi: plaintext;

  color: white !important;
  background-color: transparent !important;

  border: 1px solid #ccc;
  border-radius: 25px;

  font-size: 14px;
  letter-spacing: 2px;
}

.input-custom::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input-custom:focus {
  background-color: transparent !important;
  color: white !important;

  border-color: #ccc;
  outline: none;

  box-shadow: none !important;
}

/* الزر */
.btn-custom {
  padding: 9px;

  background: linear-gradient(to right, #55af76, #0e865e);
  color: white;

  border: 1px solid #ccc;
  border-radius: 25px;

  font-weight: bold;
  font-size: 15px;
  transition: 0.2s;
}

.btn-custom:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn-custom:active {
  transform: scale(0.95);
}


.info-text {
  font-size: 14px;
  color: rgba(255,255,255,0.8);
  line-height: 1.6;
}